# Visual Studio
.vs/
bin/
obj/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Database
*.mdf
*.ldf

# OS
.DS_Store
Thumbs.db

appsettings.Development.json
**/appsettings.Development.json

