@using static GCommon.NotificationKeys

@{
    var success = TempData[SuccessMessage] as string;
    var error = TempData[ErrorMessage] as string;
    var warning = TempData[WarningMessage] as string;
    var info = TempData[InfoMessage] as string;
}

<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1080;">
    @if (!string.IsNullOrWhiteSpace(success))
    {
        <div class="toast js-toast align-items-center text-bg-success border-0 mb-2" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">@success</div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(error))
    {
        <div class="toast js-toast align-items-center text-bg-danger border-0 mb-2" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">@error</div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(warning))
    {
        <div class="toast js-toast align-items-center text-bg-warning border-0 mb-2" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">@warning</div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(info))
    {
        <div class="toast js-toast align-items-center text-bg-info border-0 mb-2" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">@info</div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    }
</div>
